.button {
  height: 42px;
  min-width: 12em;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  position: relative;
  cursor: pointer;
  display: block;
  transition: font-weight 0.2s ease;
}


.button:focus {
  border: 2px solid var(--white);
}
