* {
  font-family: monospace;
  margin: 0;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  background-position: 50% 50%;
}

.container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .panel {
  background-color: #26262b;
  color: #fafafa;
  width: 30%;
  padding: 20px;
  font-size: 1.2em;
}