@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/DroidSans.eot");
  src: url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidSans.woff2") format("woff2"),
    url("../fonts/DroidSans.woff") format("woff"),
    url("../fonts/DroidSans.ttf") format("truetype"),
    url("../fonts/DroidSans.svg#DroidSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: monospace, "Droid Sans";
  margin: 0;
}
