.container {
  margin-top: 5em;
  padding-bottom: 1em;
  text-align: center;
}

.container h2 {
  margin-bottom: 4px;
}

.code {
  font-family: "Courier New", monospace;
  padding: 2px 6px;
  background-color: #514e75a3;
  border-radius: 6px;
}

.divider {
  height: 1px;
  background-color: var(--violet);
  opacity: 0.5;
  width: 40%;
  margin: 2em auto 0;
}

.bio {
  margin-top: 1em;
  display: block;
  font-size: 0.8em;
}

.options {
  margin: 3em 0;
  display: inline-block;
}

.options button {
  margin-bottom: 1.5em;
}

.options button:not(:last-child):after {
  background-color: #cccccc;
  content: "";
  display: block;
  height: 1.5em;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.footer {
  text-align: center;
}

.footer img {
  width: 32px;
  margin: 0 10px;
}
